@charset "utf-8";

:root {
    --blue: darkblue;
    --lightblue: lightblue;
    --gray: gray;
    --darkgray: darkgray;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Open Sans";
    height: 100%;
}

h1 {
    font-size: 1.5rem;
    margin: 0.14rem;
    
}



h2 {
    font-size: 1rem;
    border-bottom: 1px solid lightblue;
    margin-bottom: 0.5rem;
}

footer {
    background-color: darkblue;
    height: 125px;
    border-top: 60px;
    border-bottom: 60px;
    text-align: center;
    color: white;
    border-radius: 25px;
    width: 150%;
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titlegrid {
    grid-column: 1;
    
}

.content {
    grid-column: 1;
}

.profile-photo {
    grid-column: .5/1.5;
}