body {
    background-color:white;
    font-size: 18px;
}

h1 {
    background-color: darkblue;
    height: 200px;
    background-size: 100px;
    border-top: 100px;
    border-bottom: 100px;
    text-align: center;
    text-align: middle;
    color: white;
    border-radius: 25px;
    
}

footer {
    background-color: darkblue;
    height: 125px;
    border-top: 60px;
    border-bottom: 60px;
    text-align: center;
    color: white;
    border-radius: 25px;
}

#

.titlegrid {
    grid-column: 1/2;
    grid-row: 1/2;
}

.assignments {
    grid-column: 1/2;
    grid-row: 2/3;

}

.profile-photo {
    grid-column: 2/3;
    grid-row: 1/3;
}