body {
    background-color:white;
    font-size: 18px;
}

h1 {
    background-color: darkblue;
    padding: 90px;
    font-size: 32px;
    height: 200px;
    width: auto;
    background-size: 100px;
    border-top: 100px;
    border-bottom: 100px;
    text-align: center;
    text-align: middle;
    color: white;
    border-radius: 25px;
    
}

footer {
    background-color: darkblue;
    height: 125px;
    border-top: 60px;
    border-bottom: 60px;
    text-align: center;
    color: white;
    border-radius: 25px;
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titlegrid {
    grid-column: 1;
    
}

.content {
    grid-column: 1;
}

.profile-photo {
    grid-column: 2;
}