body {
    background-color:white;
    font-size: 18px;
}

h1 {
    background-color: darkblue;
    font-size: 32px;
    height: 75px;
    background-size: 75px;
    text-align: center;
    line-height: 75px;
    color: white;
    border-radius: 25px;
    font-size: 2.5em;
    grid-column: 2;
    
}

footer {
    background-color: darkblue;
    height: 125px;
    border-top: 60px;
    border-bottom: 60px;
    text-align: center;
    color: white;
    border-radius: 25px;
    width: 150%;
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titlegrid {
    grid-column: 1;
    
}

.content {
    grid-column: 1;
}

.profile-photo {
    grid-column: .5/1.5;
}