@media only screen and (min-width: 45em) {
    .summary {
        position: absolute;
        top: 250px;
        right: 50px;
        background: radial-gradient(#eee, #1D9DEB);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #333;
        opacity: .9;
        justify-items: center;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav {
        border-radius: 10px;
    }

    header, footer {
        border-radius: 10px;
    }

    .h {
        border-radius: 10px;
    }

    .intro p {
        display: flex;
    }

    .jeepimg {
        
        float: right;
        width: 40%;
    }


    
}